// Documents list
.table-documents {
	thead th {
    cursor: pointer;
    width: 50%;
	}
	
	tbody tr {
    cursor: pointer;
	}
}

// Logs list
.table-logs {
	tbody tr td {
    &:first-child {
      white-space: nowrap;
    }
	}
}

// File thumbnails
.thumbnail-file {
	cursor: pointer;
}

.thumbnails-file [class*="span"]:first-child {
    margin-left: 2.5641%;
}

.collapse[style="height: auto;"] {
	overflow: visible;
}

// Fields bound to datepicker
input[readonly][datepicker-popup] {
	cursor: pointer;
}

// Inline edition
.inline-edit {
	cursor: pointer;
	display: block;
	
	span {
    display: block;
	}
	
	input {
	  display: none;
	  margin-bottom: 0;
	}
	
	&.active {
    span {
		  display: none;
		}
		
		input {
		  display: inline-block;
		}
	}
}

// Pagination
.pagination {
	ul > li {
    cursor: pointer;
	}
}