/*/.classpath
/*/.project
/*/.settings
/*/bin
/*/gen
/*/target
/*/build
/out
/.idea
/.project
*.iml
node_modules
import_test
teedy-importer-linux
teedy-importer-macos
teedy-importer-win.exe
docs/*
!docs/.gitkeep

#macos
.DS_Store
