<div class="text-right">
  <div class="btn-group">
    <button class="btn btn-danger" ng-click="deleteDocument(document)"><span class="icon-trash icon-white"></span> Delete</button>
    <button class="btn btn-primary" ng-click="editDocument(document.id)"><span class="icon-pencil icon-white"></span> Edit</button>
  </div>
</div>

<div class="page-header">
  <h1>{{ document.title }} <small>{{ document.create_date | date: 'short' }}</small></h1>
  <ul class="inline">
    <li ng-repeat="tag in document.tags"><span class="label label-info">{{ tag.name }}</span></li>
  </ul>
</div>

<p ng-bind-html="document.description | newline"></p>

<ul class="thumbnails thumbnails-file" ui-sortable="fileSortableOptions" ng-model="files" ng-show="files.length > 0">
  <li class="span2 thumbnail-container" ng-repeat="file in files">
    <div class="thumbnail">
      <a ng-click="openFile(file)">
        <img class="thumbnail-file" ng-src="api/file/{{ file.id }}/data?thumbnail=true" tooltip="{{ file.mimetype }}" tooltip-placement="top" />
      </a>
      <div class="caption">
        <div class="pull-left">
          <div class="btn handle"><span class="icon-resize-horizontal"></span></div>
        </div>
        <p class="pull-right">
          <button class="btn btn-danger" ng-click="deleteFile(file)"><span class="icon-trash icon-white"></span></button>
        </p>
        <div class="clearfix"></div>
      </div>
    </div>
  </li>
</ul>

<div ui-view="file"></div>