<p class="lead">
  {{ documents.total }} document{{ documents.total > 1 ? 's' : '' }} in the database
</p>

<blockquote class="pull-right">
  <p>There seems to be a kind of order in the universe, in the movement of the stars and the turning of the earth and the changing of the seasons, and even in the cycle of human life. But human life itself is almost pure chaos. Everyone takes his stance, asserts his own rights and feelings, mistaking the motives of others, and his own.</p>
  <small>Katherine Anne Porter</small>
</blockquote>
