<div class="text-center">
  <div class="btn-group">
    <button type="button" class="btn" ng-click="previousFile()">Previous</button>
    <button type="button" class="btn" ng-click="nextFile()">Next</button>
  </div>
  
  <div class="btn-group pull-right">
    <button type="button" class="btn" ng-click="openFile()"><span class="icon-share"></span></button>
  </div>
</div>


<img ng-show="file.mimetype == 'image/png' || file.mimetype == 'image/jpeg' || file.mimetype == 'image/gif'" ng-src="api/file/{{ id }}/data" />

<div class="text-center" ng-show="file.mimetype == 'application/pdf'">
  <img ng-src="api/file/{{ id }}/data?thumbnail=true" />
</div>
